html { font-family: 'Graphik'; scroll-behavior: smooth;}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    font-size: 16px;
  }
  
  body {
    height: 100%;
    background-color: #000000;
    color: #ffffff;
  }

  @mixin hoverPause {
    &:hover {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
    }
  }

  @mixin respond($breakpoint) {
    @if($breakpoint == lg)  {
        @media (max-width: 1440px) { @content }
      }
    @if($breakpoint == md)  {
      @media (max-width: 1024px) { @content }
    }
    @if($breakpoint == s,)  {
      @media (max-width: 480px) { @content }
    }
  }

  .scroll-ico {
      content:" ";
      background: url(/img/double-chevron-down.svg) no-repeat;
      background-size: 100%;
      width: 16px;
      height: 19px;
      display: block;
      margin: auto;
      animation: scrollAnimate ease-out 1s;
      animation-iteration-count: infinite;
      transform-origin: 50% 50%;
  }
  @keyframes scrollAnimate {
	0% {
		transform: translate(0px,0px);
	}
	22% {
		transform: translate(0px,-10px);
	}
	50% {
		transform: translate(0px,0px);
	}
	75% {
		transform: translate(0px,-5px);
	}
	100% {
		transform: translate(0px,0px);
	}
}
$animationSpeed: 30s;

// Animation
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-400px * 7));
	}
}
  #head {
    background: url('../img/Mockup_GulfConcert_Photobook.png') no-repeat top center fixed;
    background-size: contain;
    height: 95vh;
    width: auto;
    position: relative;
    background-color: rgb(224,224,224);
    @include respond(md) {
      background: url('../img/Mockup_GulfConcert_Photobook_1024x1366.png') no-repeat top center fixed;
      background-size: contain;
    }
    @include respond(sm) {
      background: url('../img/Mockup_GulfConcert_Photobook_480x850.png') no-repeat top center fixed;
      background-size: contain;
    }
    .scroll-down {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        a {
            text-decoration: none;
            color: #ffffff;
            span {
                color: #606060;
                &::before {
                    content: " ";
                    background :#606060;
                    width: 1px;
                    height: 8px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 8px;
                    margin-bottom: 2px;
                }
                &::after {
                    content: " ";
                    background :#606060;
                    width: 1px;
                    height: 12px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 2px;
                    margin-bottom: 12px;
                }
            }
        }
    }
  }

  .slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-top: 1px solid rgb(234, 244, 236);
    border-bottom: 1px solid rgb(234, 244, 236);
    display: flex;
    @include respond(md) {
      height: auto;
      flex-wrap: wrap;
    }
    .title-box {
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      display: flex;
      background: #000000;
      color: rgb(234, 244, 236);
      border-right: 1px solid rgb(234, 244, 236);
      width: max-content;
      padding: 24px 48px;
      white-space: nowrap;
      z-index: 3;
       @include respond(md){
        flex: 0 0 100%;
        border-bottom: 1px solid rgb(234, 244, 236);
        span {
          margin: auto;
        }
       }
       @include respond(sm){
         span {
           font-size: 70%;
         }
       }
    }
    
    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(400px * 14);
      @include respond(md) {
        flex: 0 0 100%;
        padding: 24px 48px;
      }
      &:hover {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
    }
    }
  
    .slide {
      height: 100%;
      width: 400px;
      margin: 0 1rem;
      img {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
      }
    }
  }

  //slideshow
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-100%);  
    }
  }
  .slide-box {
    max-width: 100vw;
    transform: translate3d(0px, 0px, 0px);
    overflow-x: hidden;
    margin: 7.5rem 0px 7.5rem;
  }
  .carouselTicker {
    overflow: hidden;
    float: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .carouselTicker__list {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
  }

  .carousel-wrap {
    height: 100%;
    margin: 0px;
    display: flex;
    transform: translate3d(0px, 0px, 0px);
    width: calc(8 * 35%);
    // animation: 70s linear 0s infinite normal none running moveSlideshow;
    // @include hoverPause();
  }
  .carousel-item {
    margin: 0px 1rem;
    // min-width: 800px;
    position: relative;
    height: max-content;
    .carousel-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      opacity: 0;
      width: 70%;
      h3 {
        font-size: 2.5rem;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 0.9;
      }
      .item-price {
        // position: absolute;
        // left: 50%;
        // transform: translate(-50%, 50%);
        margin: 20px auto 0 auto;
      }
      .preOrder-btn {
        padding: 9px 10px;
        display: block;
        background: #cd000a;
        max-width: 150px;
        margin: 20px auto 0 auto;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8rem;
        &:hover {
          background: #ff000c;
        }
      }
    }
    &:hover {
      &::before{
        content: "";
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
        left: 0;
      }
      .carousel-title {
        opacity: 1;
      }
    }
  }

.carousel-item {
  &:nth-child(odd){
    margin-top: 2rem;
    box-shadow: 0px 10px 50px 5px #00000014;
  }
}

@include respond(md){
  .carousel-wrap {
    width: calc(8 * 92%);
    .carousel-item {
      min-width: inherit;
      .carousel-title{
        width: 80%;
        h3 {
          font-size: 6vw;
        }
      }
    }
  }
}
@include respond(sm) {
  .slide-box {
    margin: 2rem 0px 2rem;
  }
}