html {
  font-family: 'Graphik';
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

body {
  height: 100%;
  background-color: #000000;
  color: #ffffff;
}

.scroll-ico {
  content: " ";
  background: url(/img/double-chevron-down.svg) no-repeat;
  background-size: 100%;
  width: 16px;
  height: 19px;
  display: block;
  margin: auto;
  -webkit-animation: scrollAnimate ease-out 1s;
          animation: scrollAnimate ease-out 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes scrollAnimate {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  22% {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  50% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  75% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes scrollAnimate {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  22% {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
  }
  50% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  75% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-400px * 7));
            transform: translateX(calc(-400px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-400px * 7));
            transform: translateX(calc(-400px * 7));
  }
}

#head {
  background: url("../img/Mockup_GulfConcert_Photobook.png") no-repeat top center fixed;
  background-size: contain;
  height: 95vh;
  width: auto;
  position: relative;
  background-color: #e0e0e0;
}

@media (max-width: 1024px) {
  #head {
    background: url("../img/Mockup_GulfConcert_Photobook_1024x1366.png") no-repeat top center fixed;
    background-size: contain;
  }
}

@media (max-width: 480px) {
  #head {
    background: url("../img/Mockup_GulfConcert_Photobook_1024x1366.png") no-repeat top center fixed;
    background-size: contain;
  }
}

@media (max-width: 480px) {
  #head {
    background: url("../img/Mockup_GulfConcert_Photobook_480x850.png") no-repeat top center fixed;
    background-size: contain;
  }
}

#head .scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

#head .scroll-down a {
  text-decoration: none;
  color: #ffffff;
}

#head .scroll-down a span {
  color: #606060;
}

#head .scroll-down a span::before {
  content: " ";
  background: #606060;
  width: 1px;
  height: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 2px;
}

#head .scroll-down a span::after {
  content: " ";
  background: #606060;
  width: 1px;
  height: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 12px;
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-top: 1px solid #eaf4ec;
  border-bottom: 1px solid #eaf4ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .slider {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .slider {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.slider .title-box {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000000;
  color: #eaf4ec;
  border-right: 1px solid #eaf4ec;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 24px 48px;
  white-space: nowrap;
  z-index: 3;
}

@media (max-width: 1024px) {
  .slider .title-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    border-bottom: 1px solid #eaf4ec;
  }
  .slider .title-box span {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .slider .title-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    border-bottom: 1px solid #eaf4ec;
  }
  .slider .title-box span {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .slider .title-box span {
    font-size: 70%;
  }
}

.slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
          animation: scroll 30s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(400px * 14);
}

@media (max-width: 1024px) {
  .slider .slide-track {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 24px 48px;
  }
}

@media (max-width: 480px) {
  .slider .slide-track {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 24px 48px;
  }
}

.slider .slide-track:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.slider .slide {
  height: 100%;
  width: 400px;
  margin: 0 1rem;
}

.slider .slide img {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
}

@-webkit-keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.slide-box {
  max-width: 100vw;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  overflow-x: hidden;
  margin: 7.5rem 0px 7.5rem;
}

.carouselTicker {
  overflow: hidden;
  float: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.carouselTicker__list {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.carousel-wrap {
  height: 100%;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  width: calc(8 * 35%);
}

.carousel-item {
  margin: 0px 1rem;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.carousel-item .carousel-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  width: 70%;
}

.carousel-item .carousel-title h3 {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 0.9;
}

.carousel-item .carousel-title .item-price {
  margin: 20px auto 0 auto;
}

.carousel-item .carousel-title .preOrder-btn {
  padding: 9px 10px;
  display: block;
  background: #cd000a;
  max-width: 150px;
  margin: 20px auto 0 auto;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
}

.carousel-item .carousel-title .preOrder-btn:hover {
  background: #ff000c;
}

.carousel-item:hover::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  left: 0;
}

.carousel-item:hover .carousel-title {
  opacity: 1;
}

.carousel-item:nth-child(odd) {
  margin-top: 2rem;
  -webkit-box-shadow: 0px 10px 50px 5px #00000014;
          box-shadow: 0px 10px 50px 5px #00000014;
}

@media (max-width: 1024px) {
  .carousel-wrap {
    width: calc(8 * 92%);
  }
  .carousel-wrap .carousel-item {
    min-width: inherit;
  }
  .carousel-wrap .carousel-item .carousel-title {
    width: 80%;
  }
  .carousel-wrap .carousel-item .carousel-title h3 {
    font-size: 6vw;
  }
}

@media (max-width: 480px) {
  .carousel-wrap {
    width: calc(8 * 92%);
  }
  .carousel-wrap .carousel-item {
    min-width: inherit;
  }
  .carousel-wrap .carousel-item .carousel-title {
    width: 80%;
  }
  .carousel-wrap .carousel-item .carousel-title h3 {
    font-size: 6vw;
  }
}

@media (max-width: 480px) {
  .slide-box {
    margin: 2rem 0px 2rem;
  }
}
/*# sourceMappingURL=stylesheet.css.map */